$font-family-header: "Trade Gothic LT", $font-family-sans-serif;
$font-family-base: "Gill Sans Infant", $font-family-sans-serif;

h1 {
  font-family: $font-family-header;
  font-weight: 400;
  font-size: 36px;
  margin-top: 1.5rem;
  @media (min-width(var(--breakpoint-md))) { font-size: 48px; }
  @media (min-width(var(--breakpoint-lg))) { font-size: $font-size-h1; }
}
h2, h3, h4 {
  font-family: $font-family-header;
  font-weight: 400;
  line-height: 1.2;
  span {
    color: $stc-red;
  }
}
h2 {
  text-transform: uppercase;
}

.stc-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  path {
    fill: $stc-red;
    @include transition($btn-transition);
  }
  &.stc-gray path {
    fill: $stc-biscuit;
  }
}

.urgent {
  color: $stc-red;
}

.cap {
  text-transform: uppercase;
}

.text-red {
  color: $stc-red;
}
