@import 'fonts';

.stc-popup-modal {
  //import styles
  @import 'variables';
  @import 'bootstrap';
  @import 'typography';
  @import 'elements/buttons';
  line-height: 1.15;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s, visibility 0.6s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  z-index: 99999999999;
  overflow: scroll;
  .stc-popup-modal-inner {
    overflow: hidden;
    padding: 40px;
    position: relative;
    background: $body-bg;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    @media (min-width: 40.0625em) {
      width: 600px;
      height: auto;
      min-height: auto;
      margin: 10% auto;
    }
  }
  &.on {
    opacity: 1;
    visibility: visible;
  }
  .stc-popup-modal-close {
    top: 0;
    right: 10px;
    position: absolute;
    font-size: 36px;
    cursor: pointer;
    color: $stc-black;
    font-weight: 200;
    &:before {
      font-family: $font-family-base,Arial,sans-serif;
      content: "\D7";
    }
    &:hover {
      &:before {
        font-weight: 800;
      }
    }
  } 
  * {
    box-sizing: border-box;
  }
  .stc-popup-modal-content {
    font-family: $font-family-base;
    text-align: center;
    font-size: 18px;
    line-height: 1.3em;
    iframe {
      border: 0;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 1em;
      text-transform: none;
    }
    .stc-popup-modal-actions {
       margin-top: 2em;
       a.btn {
         margin: 0.5em;
       }
    }
  }
  .btn {
    &.btn-negative {
      border-color: $stc-red;
      box-shadow: inset 0 0 0 1px $stc-red;
      background-color: $body-bg;
      &:hover, &:focus {
        border-color: darken($stc-red, 10%);
        box-shadow: inset 0 0 0 1px darken($stc-red, 10%);
        color: $stc-plum;
        background-color: $body-bg;
      }
    }
  }
}
