.btn {
  font-family: $font-family-header;
  text-transform: uppercase;
  width: auto;
  &.btn-empty {
    border-color: $body-bg;
    color: $body-bg;
    &:hover, &:active {
      background-color: $body-bg;
      color: $stc-red;
    }
  }
}
