.btn {
  font-family: $font-family-header;
  text-transform: uppercase;
  width: auto;
  margin-bottom: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  &.btn-empty {
    border-color: $stc-red;
    color: $stc-red;
    &:hover, &:active {
      background-color: $stc-red;
      color: $body-bg;
    }
  }
}
