.stc-blocktitle {
  text-transform: uppercase;
  margin-left: 0.15em;
  line-height: 1em;
  a, span {
    color: $stc-black;
    background: $body-bg;
    box-shadow: 0.15em 0 0 $body-bg, -0.15em 0 0 $body-bg;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    strong {
      color: $stc-red;
      font-weight: normal;
    }
    border-radius: 0.08em;
    line-height: 1em;
    margin-top: -0.09em;
    margin-bottom: -0.09em;
  }
  &.stc-blocktitle-split {
    span {
      border-radius: 0.08em;
      clear: left;
      white-space: nowrap;
      display: inline;
      line-height: 1.15em;
    }
    @extend .clearfix;
  }
  &.stc-blocktitle-nospan {
    margin-left: 0; 
    text-transform: uppercase;
    line-height: 1em;
    background: $body-bg;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    box-shadow: 0.15em 0 0 $body-bg, -0.15em 0 0 $body-bg;
    border-radius: 0.08em;
    color: $gray-base;
    display: inline;
    strong {
      font-weight: inherit;
      color: $stc-red;
    }
  }
}